body {
	background: #05577D;
}

#app {
	padding-bottom: 20px;
}

#app label, h4, h3, h2, h1, p{

	color: #EBEBEB;
}

#app h4 {
	font-weight: bold;
}

#app #description-app {
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
}

#app #logo-image {
	width:  60%;
	display: block;
	margin: 0 auto;
	padding: 20px 0px 0px 0px;

}

#app .form-control {
	border-radius: 0px;
	height: 42px;
	color: #05577D;
	font-weight: bold;
}

.btn-app {
	border-radius: 0px;
	height: 42px;
	background: #06A273;
	color: #EBEBEB;
	font-weight: bold;
	text-transform: uppercase;
	transition: background .4s;
	margin-top:  16px;
}

.btn-app:hover, .btn-app:focus {
	background: #1AC18F;
	color: #EBEBEB;
	transition: background .4s;
}

.text-value-gru {
	color: #F0F02B;
	font-weight: bold;
	margin-bottom: 6px;
}

